= content_for :body do
  .content
    - categories.each do |category|
      .inner
        %h1{ id: category.name, class: "#{category.name} category category-title" }
          = category.title

        - docs.select{|doc| doc.category_name == category.name }.each do |doc|
          .document-block{ id: doc.base_name, class: "entry", "data-entry" => doc.base_name, "data-category" => category.name }
            .inner
              = markdown doc.body
