= content_for :body do
  .content
    - categories.each do |category|
      .inner
        %h1{ id: category.anchor_name, class: "category-#{category.id} category category-title" }
          = category.title

        - docs.where( category_id: category.id).each do |doc|
          .document-block{ id: doc.anchor_name, class: "entry", "data-entry" => doc.anchor_name, "data-category" => category.anchor_name }
            .inner
              = markdown doc.source