//@import "compass";
$experimental-support-for-svg: true;
$legacy-support-for-ie: true;

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder { /* Firefox 18- */
    @content;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &.placeholder {
    @content;
  }
}
@mixin font9 {
  font-size: 69%;
}

@mixin font10 {
  font-size: 77%;
}

@mixin font11 {
  font-size: 85%;
}

@mixin font12 {
  font-size: 93%;
}

@mixin font13 {
  font-size: 100%;
}

@mixin font14 {
  font-size: 108%;
}

@mixin font15 {
  font-size: 116%;
}

@mixin font16 {
  font-size: 123%;
}

@mixin font17 {
  font-size: 131%;
}

@mixin font18 {
  font-size: 138%;
}

@mixin font19 {
  font-size: 146%;
}

@mixin font20 {
  font-size: 153%;
}

@mixin font21 {
  font-size: 161%;
}

@mixin font22 {
  font-size: 167%;
}

@mixin font23 {
  font-size: 174%;
}

@mixin font24 {
  font-size: 182%;
}

@mixin font25 {
  font-size: 189%;
}

@mixin font26 {
  font-size: 197%;
}

@mixin regular {
  font-weight: 400;
}

@mixin medium {
  font-weight: 500;
}

@mixin bold {
  font-weight: 700;
}

// require initializers/compass_extend

@mixin retina-background($image-url) {
  background-image: image-url("#{$image-url}");

  @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 2) {
    background-image: image-url("#{replace-retina-path($image-url)}");
    background-size: image-width("#{$image-url}") image-height("#{$image-url}");
  }
}