// Place all the styles related to the docs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass";
@import "common/mixin";

//
// Main
//===============

.header#global {
  position: fixed;
  width: 100%;
}

.main {
  padding-top: 35px;
  background: #f6f6f6;
  > .inner {
    position: relative;
    margin-left: 201px;
    background: #3e3e3e;
    zoom: 1;

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    .control {
      overflow-y: scroll;
      right: 0px;
      bottom: 0px;
      top: 35px;
      left: 200px;
      height: 100%;
      position: fixed;

      width: 200px;
      margin-left: -201px;
      min-height: 800px;
      background: #f6f6f6;
      border-right: 1px dotted #999;

      > .inner {
        padding: 40px;

      }

      .side-nav {
        padding-left: 20px;


        .sub-title {
          position: relative;
          > a {
            padding: 10px;
            display: block;
          }

          &.selected, &:hover {
            background: #666;
            cursor: pointer;
            > a {
              color: #f6f6f6;
              &:hover {
                background: inherit;
              }
            }
          }
        }
        .main-title {
          margin: 0px;
          position: relative;
          + ul {
            display: none;
          }
          &.selected {
            + ul {
              display: block;
            }
          }
          > a {
            padding: 10px;
            display: block;
          }

          &.selected, &:hover {
            background: #666;
            cursor: pointer;

            > a {
              color: #f6f6f6;
              &:hover {
                background: inherit;
              }
            }
          }
        }
      }
    }
  }
}

ul {
  li {
    list-style: none;
  }
}

.dropdown {
  border-radius: 0px;
  margin: 0px;
  width: 200px;

  > div {
    border-radius: 0px;
    &:hover {
      border-radius: 0px;
    }
  }
  ul {
    &:hover {
      border-radius: 0px;
    }
    padding: 0px !important;
    margin: 0px;
  }
}


.hidden-submit {
  display: none;
}

.code-editor {
  width: 100%;
}

pre {
  width: 100%;
  overflow-x: scroll;

  code.hljs {
    background: #3e3e3e;
  }

  code {
    &.hljs {
      background: #3e3e3e;
      padding: 30px;
    }
  }
}


  //
 // Doc Block
//===============

.document-block {
  margin: 0 0 50px 0;
  word-break: break-all;

  h1 {
    @include font20;
    margin-bottom: 1em;
  }

  h2 {
    @include font15;
    margin-bottom: 1em;
    line-height: 1.4;
    font-weight: normal;
  }

  > .inner {
    padding: 20px 0px;
    position: relative;

    dl {
      zoom: 1;
      &:after {
        clear: both;
        content: "";
        display: block;
      }
      dt {
        float: left;
        font-weight: bold;
        margin-right: -135px;
        position: relative;
        text-align: right;
        word-break: hyphenate;
        word-wrap: break-word;
        width: 135px;
        z-index: 50;
      }
      dd {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        float: left;
        padding: 0px 40px 0 105px;
        position: relative;
        width: 100%;
        z-index: 25;
        line-height: 1.8em;
      }
    }

    pre {
      position: absolute;
      right: -500px;
      top: 0;
      width: 480px;
      code {
        //display: none;
        &.selected-lang {
          display: block;
        }
      }
    }

  }

  .editable-content {
    word-break: break-all;
  }

  .content-of-null {
    color: #9f9f9f;
    font-weight: lighter;
  }

}


.content {
  > .inner {
    padding: 20px;
  }

  h1 {
    @include font20;
    margin-bottom: 1em;
  }

  h2 {
    @include font15;
    margin-bottom: 1em;
    line-height: 1.4;
    font-weight: normal;
  }

  background: #fdfdfd;
  float: left;
  margin-right: 500px;
  .category {
    zoom: 1;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
  .entry {
    padding-top: 35px;
    zoom: 1;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .category-title {
    margin: 0px;
    padding: 55px 0px 0px;
    margin-bottom: -35px;
  }

}