// Place all the styles related to the docs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass";
@import "common/mixin";

//
// Main
//===============

.header#global {
  position: fixed;
  width: 100%;
  z-idndex: 999;
}

.main {
  padding-top: 35px;
  background: #f0f0f0;
  > .inner {
    position: relative;
    margin-left: 201px;
    background: #333;
    zoom: 1;

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    .spawn-button {
      background: #eee;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 999;
      padding: 0px 10px;
      line-height: 34px;
      &:hover {
        color: inherit;
        text-decoration: underline;
      }
    }

    .control {
      overflow-y: scroll;
      right: 0px;
      bottom: 0px;
      top: 35px;
      left: 200px;
      height: 100%;
      position: fixed;
      width: 200px;
      margin-left: -201px;
      background: #72b1c0;

      > .inner {
        padding: 40px;

      }

      .side-nav {
        padding: 0 0 60px 10px;

        .main-title {
          margin: 0px;
          position: relative;
          color: #fafafa;
          + ul {
            display: none;
            padding-left: 20px;
          }
          &.selected {
            + ul {
              display: block;
            }
          }
          > a {
            padding: 5px;
            display: block;
            @include font11;
            color: #fafafa;
          }

          &.selected, &:hover {
            background: #fafafa;
            color: #4b4b4b;
            cursor: pointer;

            > a {
              color: #4b4b4b;
              &:hover {
                background: inherit;
              }
            }
          }
        }
        .sub-title {
          position: relative;
          > a {
            padding: 5px;
            display: block;
            @include font12;
            color: #fafafa;
            &:visited {
              color: #fafafa;
            }
          }

          &.selected, &:hover {
            background: #fafafa;
            color: #4b4b4b;
            cursor: pointer;
            > a {
              color: #4b4b4b;
              &:hover {
                background: inherit;
              }
            }
          }
        }

      }
    }
  }
}

ul {
  li {
    list-style: none;
  }
}

.dropdown {
  display: none;
  border-radius: 0px;
  margin: 0px;
  width: 200px;

  > div {
    border-radius: 0px;
    &:hover {
      border-radius: 0px;
    }
  }
  ul {
    &:hover {
      border-radius: 0px;
    }
    padding: 0px !important;
    margin: 0px;
  }
}

pre {
  width: 100%;
  overflow-x: hidden;
  color: white;
  background: #333;

  code.hljs {
    background: #4b4b4b;
  }

  code {
    font-family: Monaco,Consolas,"Lucida Console",monospace;
    @include font12;
    padding: 30px;
    overflow-x: scroll;
    &.hljs {
      background: #4b4b4b;
      padding: 0px 30px;
    }
  }
}

.content {
  > .inner {
    padding: 30px 0px;
    min-height: 400px;

    &:first-child {
      padding-top: 0px;
    }

    a {
      color: #72b1c0;
      &:hover {
        background: inherit;
        color: #72b1c0;
        text-decoration: underline;
      }
    }
  }

  .description {
    position: relative;
    @include font13;
    padding: 1em 30px 0px 30px;
    line-height: 1.6;
    font-weight: normal;
    ul {
      padding-left: 0px;
    }
    table {
      width: 100%;
      td, th {
        border: 1px solid #dadada;
        padding: 5px 10px;
      }
      thead {
        tr {
          &:first-child {
            border-bottom: 2px dotted #dadada;
          }
        }
      }
    }
  }

  h2 {
    @include font15;
    margin-bottom: 1em;
    line-height: 1.4;
    font-weight: normal;
  }

  background: #fdfdfd;
  float: left;
  margin-right: 50%;

  .category {
    h1 {
      @include font16;
      margin-bottom: 1em;
    }

    zoom: 1;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
  .entry {
    padding-top: 35px;
    position: relative;
    zoom: 1;
    @include font13;
    line-height: 1.9;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .category-title {
    margin: 0px;
    padding: 55px 30px 0px;
    //margin-bottom: -35px;
    @include font18;
  }

}


//
// Doc Block
//===============

.document-block {
  margin: 0 0 50px 0;
  word-break: break-all;

  h1 {
    @include font15;
    margin: 0 0 1em;
  }

  h2 {
    @include font13;
    margin-bottom: 1em;
    line-height: 1.6;
    font-weight: normal;
  }

  > .inner {
    padding: 0px 30px;

    dl {
      zoom: 1;
      @include font12;
      &:after {
        clear: both;
        content: "";
        display: block;
      }
      dt {
        float: left;
        font-weight: bold;
        margin-right: -190px;
        position: relative;
        text-align: right;
        word-break: hyphenate;
        word-wrap: break-word;
        width: 190px;
        z-index: 50;
        padding-top: 1em;

        + dd {
          padding-top: 1em;
        }
      }
      dd {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        float: left;
        padding: 0px 40px 0 155px;
        position: relative;
        width: 100%;
        z-index: 25;
        line-height: 1.8em;

        a {
          color: #6d9cbe;

          &:hover {
            background: transparent;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

pre {
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  margin: 0px;

  code {
    display: none;
    &.selected-lang {
      display: block;
    }
  }
}
