// Place all the styles related to the docs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass";
@import "common/mixin";

//
// Main
//===============

.header#global {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.main {
  padding-top: 35px;
  background: #f0f0f0;
  > .inner {
    position: relative;
    background: #444;
    zoom: 1;

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    .spawn-button {
      background: #eee;
      position: fixed;
      bottom: 0;
      right: 0;
      z-index: 999;
      padding: 0px 10px;
      line-height: 34px;
      &:hover {
        color: inherit;
        text-decoration: underline;
      }
    }

    .inquiry-button {
      color: #eee;
      font-weight: bold;
      text-decoration: underline;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 999;
      padding: 0px 10px;
      line-height: 34px;
      &:hover {
        color: #eee;
        text-decoration: none;
      }
    }

    .control {
      zoom: 1;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
      position: fixed;
      width: 100%;
      z-index: 9999;
      height: 0px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      opacity: 0.95;

      > .inner {
        padding: 40px;

      }

      .handle {
        background: #72b1c0;
        position: absolute;
        cursor: pointer;
        z-index: 9999;
        bottom: -28px;
        right: 100px;
        color: white;
        padding: 5px 10px;
      }

      .notify-border {
        background: #72b1c0;
        height: 10px;
        width: 100%;
      }

      .big-panel {
        overflow-y: scroll;
        right: 0px;
        bottom: 0px;
        top: 35px;
        height: 100%;
        z-index: 999;
        background: #fafafa;
        padding: 0px 30px;
        margin: 0px;
        display: none;

        //> li:first-child:nth-last-child(2), > li:first-child:nth-last-child(2) ~ li { width: 50% !important; }
        //> li:first-child:nth-last-child(3), > li:first-child:nth-last-child(3) ~ li { width: 33.33333%; }
        //> li:first-child:nth-last-child(4), > li:first-child:nth-last-child(4) ~ li { width: 25%; }
        //> li:first-child:nth-last-child(5), > li:first-child:nth-last-child(5) ~ li { width: 20%; }
        //> li:first-child:nth-last-child(6), > li:first-child:nth-last-child(6) ~ li { width: 16.66666%; }
        > li {
          float:left;
          padding-bottom: 30px;
          width: 20%;
        }
        .role {
          padding-left: 10px;
          border-left: 2px dotted #cccccc;
        }

        h3 {
          color: #333;
        }

        .main-title {
          margin: 0px 10px 0 0;
          position: relative;
          color: #333;
          + ul {
            display: none;
            padding-left: 20px;
          }
          &.selected {
            + ul {
              display: block;
            }
          }
          > a {
            padding: 5px;
            display: block;
            @include font10;
            color: #333;
            word-break: break-all;
          }

          &.selected, &:hover {
            cursor: pointer;

            > a {
              color: #777;

              &:hover {
                background: inherit;
              }
            }
          }
        }
        .sub-title {
          position: relative;

          -webkit-transition: padding 0.2s ease-in-out;
          -moz-transition: padding 0.2s ease-in-out;
          -o-transition: padding 0.2s ease-in-out;
          transition: padding 0.2s ease-in-out;

          > a {
            display: block;
            @include font11;
            color: #333;
            line-height: 1.8;

            &:visited {
              color: #333;
            }
          }

          &:after {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 5px;
            border-color: transparent transparent transparent transparent;

            -webkit-transition: border-color 0.2s ease-in-out;
            -moz-transition: border-color 0.2s ease-in-out;
            -o-transition: border-color 0.2s ease-in-out;
            transition: border-color 0.2s ease-in-out;
          }

          &.selected, &:hover {
            color: #333;
            line-height: 1.8;
            cursor: pointer;
            padding-left: 10px;

            &:after {
              border-color: transparent transparent transparent #333;
            }

            > a {
              &:hover {
                background: inherit;
                text-decoration: underline;
              }
            }
          }
        }

      }
    }
  }
}

ul {
  li {
    list-style: none;
  }
}

.dropdown {
  display: none;
  border-radius: 0px;
  margin: 0px;
  width: 200px;

  > div {
    border-radius: 0px;
    &:hover {
      border-radius: 0px;
    }
  }
  ul {
    &:hover {
      border-radius: 0px;
    }
    padding: 0px !important;
    margin: 0px;
  }
}

.content {
  > .inner {
    min-height: 400px;

    &:first-child {
      padding-top: 0px;
    }

    a {
      color: #72b1c0;
      &:hover {
        background: inherit;
        color: #72b1c0;
        text-decoration: underline;
      }
    }
  }

  .description {
    position: relative;
    @include font13;
    padding: 1em 30px 0px 30px;
    line-height: 1.6;
    font-weight: normal;
    p {

      line-height: 1.6;
      img {
        width: 100%;
      }
    }
    ul {
      padding-left: 0px;
    }
  }

  h2 {
    @include font15;
    margin-bottom: 1em;
    line-height: 1.4;
    font-weight: normal;
  }

  background: #fdfdfd;
  float: left;
  margin-right: 50%;

  .category {
    h1 {
      @include font16;
      margin-bottom: 1em;
    }

    zoom: 1;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
  .entry {
    padding-top: 55px;
    position: relative;
    zoom: 1;
    @include font13;
    line-height: 1.9;
    min-height: 300px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0px;
    padding-bottom: 30px;

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .category-title {
    margin: -25px 0 0 0;
    padding: 55px 30px 0px;
    @include font20;
    line-height: 1.7;
  }

}


//
// Entry Block
//===============

.document-block {
  margin: 0 0 50px 0;
  word-break: break-all;

  h1 {
    @include font15;
    margin: 0 0 1em;
  }

  h2 {
    @include font13;
    margin-bottom: 1em;
    line-height: 1.6;
    font-weight: normal;
  }

  > .inner {
    padding: 0px 30px;

    > p{
      margin: 30px 0;
      > code {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        font-size: 13px;
        line-height: 19px;
        overflow: auto;
        padding: 6px 10px;
        border-radius: 3px;
        padding: 10px;
        border: 1px solid #ddd;
      }
    }

    dl {
      zoom: 1;
      @include font12;
      &:after {
        clear: both;
        content: "";
        display: block;
      }
      dt {
        float: left;
        font-weight: bold;
        margin-right: -190px;
        position: relative;
        text-align: right;
        word-break: hyphenate;
        word-wrap: break-word;
        width: 190px;
        z-index: 50;
        padding-top: 1em;

        + dd {
          padding-top: 1em;
        }
      }
      dd {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        float: left;
        padding: 0px 40px 0 155px;
        position: relative;
        width: 100%;
        z-index: 25;
        line-height: 1.8em;

        a {
          color: #6d9cbe;

          &:hover {
            background: transparent;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

pre {
  position: absolute;
  right: -100%;
  top: 35px;
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
  color: #fafafa;
  line-height: 1.5;

  code {
    display: none;
    font-family: Monaco,Consolas,"Lucida Console",monospace;
    @include font12;
    padding: 30px;

    &.selected-lang {
      display: block;
    }
  }
}

table {
  width: 100%;
  td, th {
    border: 1px solid #dadada;
    padding: 5px 10px;
  }

  thead {
    tr {
      &:first-child {
        border-bottom: 2px dotted #dadada;
      }
    }
  }

  &:first-of-type{
    margin-bottom: 20px;
    td, th {
      &:last-child {
        width: 70%;
      }
    }
  }
}
