%h1 Listing variables

%table
  %tr
    %th
    %th
    %th

  - @variables.each do |variable|
    %tr
      %td= link_to 'Show', variable
      %td= link_to 'Edit', edit_variable_path(variable)
      %td= link_to 'Destroy', variable, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Variable', new_variable_path
